module.exports = {
    message: {
        token: "<your token>",
        polling: true,
        owner: <your id>,
        users: [<your id1>, <your id2>, ...]
    },
    router: {
        url: "http://<your-route-ip>",
        login: <login>,
        password: <password>
    },
    torrent: {
      host: "<transmission IP>",
      port: <transmission port>,
      downloadDir: "<your download dir>"
    },
    userName: "Jack",
    socks: "socks://<tor ip>:<tor host>",
    webDir: "web",
    temporaryPath: "tmp",
};